
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family*/
  }

    body > div.cadastro > form > div
    {
      margin-top: -10em;
    }
  .container {
    padding: 16px;
    background-color: black;
    margin-top: 14em;

  }
  
  body > div.cadastro
  {
    text-align: center;
    font-size: 25px;
    margin-top: 8em;
    font-weight: bold;
    color: #dddd;
  }

  body > div.cadastro > form > div > h1
  {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 60px;
    color: #dddd;
    font-family: 'Dancing Script', cursive;
  }
  
  input[type=email], input[type=password], input[type=text] , input[type=number], input[type=psw-repeat]  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: solid 1px color rgb(221, 220 220);
    background-color: black;
  }
  
  input[type=email]:focus, input[type=password],  input[type=text] , input[type=number], input[type=psw-repeat]:focus {
    background-color: black;
    outline: none;
  }

  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
 