* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family*/
  }
  body > div.voltar > a > i
  {
    color: black;
    margin-left: 2em;
  }

  body > div.flex-container > div {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }