@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro:ital,wght@0,400;1,200;1,400&display=swap');
    
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family*/
  }
  body
  {
    font-family: 'Source Code Pro', monospace;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    }
  
  .flex-container > div {
    border-radius: 15px;
    border: 1px solid rgb(4, 221, 112);
    width: 15em;
    margin: 2em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
  
  body > section > div:nth-child(1) > div:nth-child(1),
  body > section > div:nth-child(2) > div:nth-child(1)
  {
    transition: transform 0.2s; 
  }
  .textomenu
  {
    background-color: black;

  }

  body > section > div.textomenu > span
  {
    color: #dddcdc;
    margin-left: 10em;
    line-height: 3em;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
  }

  body > section > div:nth-child(2) > div:nth-child(1):hover,
  body > section > div:nth-child(2) > div:nth-child(2):hover,
  body > section > div:nth-child(2) > div:nth-child(3):hover,
  body > section > div:nth-child(2) > div:nth-child(4):hover,
  body > section > div:nth-child(2) > div:nth-child(5):hover,
  body > section > div:nth-child(3) > div:nth-child(1):hover,
  body > section > div:nth-child(3) > div:nth-child(2):hover,
  body > section > div:nth-child(3) > div:nth-child(3):hover,
  body > section > div:nth-child(3) > div:nth-child(4):hover,
  body > section > div:nth-child(3 ) > div:nth-child(5):hover
  {
    transform: scale(1.1);
    cursor: pointer;
  }
  body > section > div.flex-container > div
  {
    width: 15em;
  }

  body > section > div.flex-container > div > img
  {
    width: 60%;
    height: auto;
    margin-top: 2em;
    transition: transform 0.2s; 
  }

  body > section > div.flex-container > div > img:hover
  {
    transform: scale(1.2);
  }

  body > section > div.flex-container > div > H2
 {
  margin-left: 0.5em;
  margin-top: 1em;
  font-size: 25px;
  color: #dddcdc;

 }
 body > section > div.flex-container > div > h1,
 body > section > div.flex-container > div > p
 {
  color: rgb(121, 207, 35);
  margin-top: 1em;
  margin-bottom: 1em;
}


@media screen and (max-width: 600px) 
  {
  
    .flex-container 
    {
      display: inline-block;
      flex-wrap: nowrap;
      margin-left: 3em;
    }
    body > section
    {
      background-color: black;
    }
    body > section > div.textomenu > span
    {
      margin-left: 1em;
      line-height: 3em;
      font-size: 35px;

    }
  }


@media screen and (min-width: 601px) and (max-width: 1200px) {
  .flex-container 
    {
    display: inline-block;
    flex-wrap: nowrap;
    margin-left: 3em;
  }
  body > section
  {
    background-color: black;
  }
  body > section > div:nth-child(3) > div:nth-child(1)
  {
    margin-left: 2em;
  }
  body > section > div.textomenu > span
  {
    margin-left: 3em;
    line-height: 3em;
    font-size: 50px;
  }

  body > section > div > div
  {
    height: 20em;
  }
  body > section > div > div > img
  {
    width: 70%;
  }
  body > section > div > div > h2,
  body > section > div > div > p
  {
    font-size: 20px;
  }
  
}
