@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro:ital,wght@0,400;1,200;1,400&display=swap');* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  body > div.voltar
  {
    background-color: black;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    width: 8em;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 15px;
  }
  .localizacao .flex-container .mapa
  {
    margin-left: 5em;
    margin-top: 5em;
  }
  .localizacao
  {
    background-color: black;
  }
  .localizacao .unidades span
  {
    font-size: 50px;
    margin-left: 10em;
    color: #dddcdc;
    line-height: 3em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
  }

  body > section > div > div
  {
    border: solid 1px;
  }
  body > section > div.flex-container > div
  {
    background-color: rgb(0, 0, 0);
    color: #dddcdc;
    font-family: 'Dancing Script', cursive;
  }
  body > section > div > div > img
  {
    width: 200px;
    border-radius: 10px;
    margin-top: 1em;
  }
  body > section > div > div > span
  {
    font-size: 35px;
    font-weight: bold;
    }

  body > section > div > div > p:nth-child(3),
  body > section > div > div > p:nth-child(4)
  {
    font-size: 25px;
    line-height: 1em;
  }

  body > section > div.flex-container > div > button
  {
    border-radius: 5px;
    width: 10em;
    height: 3em;
    border: solid 1px #dddcdc;
    background-color: black;
  }  
  body > section > div.flex-container > div > button > a
  {
    font-size: 15px;
    font-weight: bold;
    color: #dddcdc;
    opacity: 0.8;
    font-family: 'Dancing Script', cursive;
  }
  body > section > div.flex-container > div > button > a:hover 
  {
    opacity: 4;
  }
  @media screen and (max-width: 600px) 
  {
    .localizacao .unidades span
    {
      font-size: 25px;
      margin-left: 4em;
    }
  
    .flex-container 
    {
    display: inline-block;
    flex-wrap: nowrap;
    margin-left: 3em;
    }
    body > section > div.flex-container > div > span
    {
      font-size: 25px;
    }
    body > section > div.flex-container > div > p
    {
      font-size: 18px;
    }
    
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    .flex-container 
    {
    display: inline-block;
    flex-wrap: nowrap;
    }

    .localizacao .unidades span
    {
      margin-left: 5em;
    }
    body > section > div.flex-container
    {
      margin-left: 16em;
    }
}