@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro:ital,wght@0,400;1,200;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body > section
  {
    background-color: black;
  }
  body > section > span
  {
    color: #dddddd;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    margin-left: 15em;
    line-height: 3em;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    background-color: black;
    width: 10em;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
  }

  body > section > div > div > img
  {
    width: 300px;
    margin-top: 1em;
  }
  
  body > section > div > div > span,
  body > section > div > div > p,
  body > section > div > div > h1
  {
    color: #dddddd;
  }
  .flex-container .ingredientesAdicionais
  {
    color: #dddddd;
  }
  body > section > div:nth-child(2) > div.flex-container > div > img
  {
    width: 140px;
    flex-grow: 1; 
  }
  body > section > div > div.flex-container > div > p
  {
    margin-top: -3em;
    margin-left: 8em;
   
    width: 10em;
    height: 1em;
  }
  body > section > div:nth-child(2) > div.flex-container > div > button
    {
    background-color: black;
    color: #dddddd;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px #dddddd;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 5em;
    height: 1.8em;
  }
  body > section > div:nth-child(2) > div.flex-container > div > button:hover,
  body > section > div:nth-child(3) > div.flex-container > div > button:hover
  {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(3), 
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(7),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(11), 
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(15),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(19),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(23),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(27)
  {
    margin-left: 29em;
    margin-top: -1.5em;
    display: block;
  }

  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(4),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(8),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(12),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(16),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(20),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(24),
  body > section > div:nth-child(2) > div.flex-container > div > button:nth-child(28)
{
  margin-left: 35em;
  margin-top: -1.8em;
  display: block;
}

body > section > div.imgburguer > img
{
  margin-left: 70em;
}

body > section > div.botaoAvançar
{
  margin-left: 35em;
  margin-top: 5em;
}

body > section > div.botaoAvançar > button
{
  background-color: black;
  font-size: 30px;
  color: #dddddd;
  width: 10em;
  transition: all 0.5s;
  border: solid 1px #dddd;
  border-radius: 5px;
}

body > section > div.botaoAvançar > button:hover
{
  background-color: #dddd;
  color: black;
}