@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro:ital,wght@0,400;1,200;1,400&display=swap');* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family*/
  }
  body > section
  {
    background-color: black;
  }
  body > div
  {
    background-color: black;
    color: #dddcdc;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5em;
  }
  
  .flex-container > div {
    width: auto;
    height: 25em;
    margin: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    background-color: rgb(15, 13, 15);
    color: #dddcdc;
    font-family: 'Dancing Script', cursive;
  }

  body > div.texto > div > div:nth-child(1)
  {
    border-radius: 15px;
    border: 1px solid rgb(4, 221, 112);
  }

  body > div.texto > div > div:nth-child(2)
  {
    border-radius: 15px;
    border: 1px solid rgb(21, 184, 102);
  }

  body > div.texto > div > div:nth-child(3)
  {
    border-radius: 15px;
    border: 1px solid rgb(4, 221, 112);
  }

  @media screen and (max-width: 600px) {
    body > div.texto > p
    {
      font-size: 20px;
      text-align: justify;
      line-height: 25px;
  
    }
    .flex-container {
    display: inline-block;
    flex-wrap: nowrap;
    }
    body > div.texto > div > div:nth-child(1),
    body > div.texto > div > div:nth-child(2),
    body > div.texto > div > div:nth-child(3)
    {
      height: auto;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    /* Seus estilos para essa faixa de largura de tela aqui */
    body > div.texto > p
    {
      font-size: 20px;
      text-align: justify;
      line-height: 25px;
  
    }
    .flex-container {
    display: inline-block;
    flex-wrap: nowrap;
    }
    body > div.texto > div > div:nth-child(1),
    body > div.texto > div > div:nth-child(2),
    body > div.texto > div > div:nth-child(3)
    {
      height: auto;
    }
  }

body > div.texto > p:nth-child(2)
{
    border-style: solid;
    border-radius: 50em;
    border-color: aqua;
}
body > div.texto > h2
{
    text-align: center;
    font-size: 40px;
    line-height: 195px;
}

body > div.texto > p
{
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    color: #dddcdc;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
